<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje marke vozila</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Izmena marke vozila: {{ data.id }}</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje marke vozila: {{ data.id }}</h3>

  <form class="mat-dialog-content" #formControl="ngForm">
    <div class="form">
      <mat-form-field appearance="fill">
        <input matInput placeholder="Naziv marke vozila" [(ngModel)]="data.nazivmarkevozila" name="nazivtipavozila" [disabled]="flag==3" required>
        <mat-hint>Željeni naziv marke</mat-hint>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button *ngIf="flag == 1" type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="add()">Sačuvaj</button>
      <button mat-button *ngIf="flag == 2" type="submit" [disabled]="!formControl.valid" [mat-dialog-close="1" (click)="update()"]>Sačuvaj</button>
      <button mat-button *ngIf="flag == 3" type="submit" [mat-dialog-close]="1" (click)="delete()">Obriši</button>
      <button mat-button (click)="cancel()" tabindex="-1">Poništi</button>
    </div>
  </form>
</div>
