<!--<div>
  <button>
    [[routerLink]="['/home']" routerLinkActive="router-link-active" ]
    <a>Autocentar</a>
  </button>
  <button>
    [[routerLink]="['/kategorijausluga']" routerLinkActive="router-link-active" ]
    <a>Kategorije usluga</a>
  </button>
  <button>
    [[routerLink]="['/kategorijavozila']" routerLinkActive="router-link-active" ]
    <a>Kategorija vozila</a>
  </button>
  <button>
    [[routerLink]="['/markavozila']" routerLinkActive="router-link-active" ]
    <a>Marka vozila</a>
  </button>
  <button>
    [[routerLink]="['/modelvozila']" routerLinkActive="router-link-active" ]
    <a>Model vozila</a>
  </button>
  <button>
    [[routerLink]="['/tipvozila']" routerLinkActive="router-link-active" ]
    <a>Tip vozila</a>
  </button>
  <button>
    [[routerLink]="['/vozilo']" routerLinkActive="router-link-active" ]
    <a>Vozilo</a>
  </button>
  <button>
    [[routerLink]="['/osiguranje']" routerLinkActive="router-link-active" ]
    <a>Osiguranje</a>
  </button>
  <button>
    [[routerLink]="['/rezervacija']" routerLinkActive="router-link-active" ]
    <a>Rezervacija</a>
  </button>
  <button>
    [[routerLink]="['/registracija']" routerLinkActive="router-link-active" ]
    <a>Registracija</a>
  </button>
  <button>

    <a mat-button [routerLink]="['/cenovnik']">Cenovnik</a>
  </button>
  <button>

    <a [routerLink]="['/naplata']">Naplata</a>
  </button>

</div>-->
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="over" [fixedInViewport]="true" opened mode="side">
    <mat-accordion>
      <a mat-button style="text-align: center">
      <mat-icon [routerLink]="['/home']">AC</mat-icon>
    </a>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Usluge
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-button [routerLink]="['/kategorijausluga']">Kategorije usluga</a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Evidencija vozila
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-button [routerLink]="['/kategorijavozila']">Kategorije vozila</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button [routerLink]="['/markavozila']">Marke vozila</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button [routerLink]="['/modelvozila']">Modeli vozila</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button [routerLink]="['/tipvozila']">Tipovi vozila</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button [routerLink]="['/vozilo']">Vozila</a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Evidencija osiguranja
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-button [routerLink]="['/osiguranje']">Osiguranje</a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Evidencija rezervacija
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-button [routerLink]="['/rezervacija']">Rezervacije</a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Evidencija registracija
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-button [routerLink]="['/registracije']">Registracije</a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cenovnik usluga
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-button [routerLink]="['/cenovnik']">Cenovnik</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button [routerLink]="['/naplata']">Izvrsene naplate</a>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         Korisnici
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-button [routerLink]="['/korisnik']">Fizička lica</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button [routerLink]="['/korisnikpl']">Pravna lica</a>
      </mat-nav-list>
    </mat-expansion-panel>
    <!--<mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Administracija
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-button>Administracija usluga</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button>Administracija cenovnika</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button>Administracija marke vozila</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button>Administracija modela vozila</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button>Administracija kategorija vozila</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button>Administracija tipova vozila</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button>Administracija vozila</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button>Administracija osiguranja vozila</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button>Administracija korisnika</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button>Administracija korisnika - pravna lica</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button>Administracija rezervacija</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button>Administracija registracija</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button>Administracija naplata</a>
      </mat-nav-list>
    </mat-expansion-panel>-->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         Profil
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-button>Posetilac</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button>Klijent</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button>Sluzbenik</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-button>Admin</a>
      </mat-nav-list>
    </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>

