<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje korisnika pravnog lica</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Izmena pravnog lica: {{ data.id }}</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje pravnog lica: {{ data.id }}</h3>

  <form class="mat-dialog-content" #formControl="ngForm">
    <div class="form">
      <mat-form-field appearance="fill">
        <input matInput placeholder="Naziv pravnog lica" [(ngModel)]="data.nazivpl" name="nazivpl" [disabled]="flag==3" required>
        <mat-hint>Naziv pravnog lica</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Adresa sedista" [(ngModel)]="data.adresasedista" name="adresasedista" [disabled]="flag==3" required>
        <mat-hint>dr S.Milosevica10, Novi Sad</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput placeholder="PIB" [(ngModel)]="data.pib" name="pib" [disabled]="flag==3" required>
        <mat-hint>100000000</mat-hint>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button *ngIf="flag == 1" type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="add()">Sačuvaj</button>
      <button mat-button *ngIf="flag == 2" type="submit" [disabled]="!formControl.valid" [mat-dialog-close="1" (click)="update()"]>Sačuvaj</button>
      <button mat-button *ngIf="flag == 3" type="submit" [mat-dialog-close]="1" (click)="delete()">Obriši</button>
      <button mat-button (click)="cancel()" tabindex="-1">Poništi</button>
    </div>
  </form>
</div>
